@model TipsTricksWebApp.Models.Tip

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <!-- Was originally going to use select here. However, Allowing user to input games that would be more niche seems more beneficial -->
            <div class="form-group">
                <label asp-for="Game" class="control-label"></label>
                <input list="games" asp-for="Game" class="form-control" />
                    <datalist id="games">
                        <option value="Apex Legends" />
                        <option value="Borderlands" />
                        <option value="Borderlands 2" />
                        <option value="Borderlands 3" />
                        <option value="Celeste" />
                        <option value="CSGO" />
                        <option value="Dark Souls" />
                        <option value="Dark Souls 2" />
                        <option value="Dark Souls 3" />
                        <option value="Destiny 2" />
                        <option value="Dota 2" />
                        <option value="Fortnite" />
                        <option value="GTA V" />
                        <option value="League of Legends" />
                        <option value="Minecraft" />
                        <option value="Overwatch" />
                        <option value="Phasmophobia" />
                        <option value="Pokemon: Platnium" />
                        <option value="Sekiro" />
                        <option value="Skyrim" />
                        <option value="Stardew Valley" />
                        <option value="Valorant" />
                    </datalist>
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="Desc" rows="6" cols="100" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
